@font-face {
    font-family: 'Raleway';
    src: url('/fonts//Raleway/Raleway-Regular.ttf')
}

body {
    height: 100%;
}

#form {
    border: 1px solid;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
    width: 340px;
    height: 520px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(191, 191, 191, 0.15);
    font-family: 'Raleway', sans-serif;
}

.btnIniciar {
    margin-top: 25px !important;
}

.uppercase .dx-texteditor-input {
    text-transform: uppercase;
}

.dx-field-item-label-text {
    font-weight: bold;
}

.dx-button-content {
    font-weight: bold;
    color: white !important;
}